html {
    overflow-y: scroll;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    color: rgb(32, 62, 40);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.main-bg {
    background: #f8fae5 url("../pics/bg-floral.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}

input {
    font-size: 14px;
    padding: 0;
}

p {
    line-height: 1.75em;
    margin: 1em 0;
}

li {
    line-height: 1.25em;
}

p a,
p a:visited {
    text-decoration: none;
    color: #515f4b;
}

p a:hover {
    text-decoration: underline;
}

.page {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: 5px 0 100px #6b8265, -5px 0 100px #6b8265;
}

.page-wrap {
    padding-bottom: 65px;
    height: calc(100% - 67px);
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #515f4b;
    margin: 1.2em 0;
}

.multi h1 {
    margin: 0 0 1.2em;
}

h2 {
    color: #6d8165d0;
    font-size: 20px;
    font-weight: bold;
}

.site-header {
    background-color: #f8fae5;
    display: flex;
    justify-content: space-between;
}

.site-header > * {
    flex: 0 0 40%;
}

.site-header img {
    height: 100px;
    display: block;
}

.site-header .search form {
    display: flex;
    padding: 30px 2px;
    justify-content: flex-end;
}

.site-header .search form > * {
    height: 40px;
}

.site-header .search form input[type=text] {
    border: none;
    border-radius: 2px;
    padding-left: 5px;
}

.site-header .search form button {
    width: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #6d8165;
    font-size: 20px;
}

.site-header .search form button:hover {
    background-color: #879e7f;
}

.site-title {
    display: block;
    padding-top: 1em;
    padding-left: 50px;
    font-size: 32px;
    overflow: auto;
}

.site-slogan {
    display: block;
    padding-left: 50px;
    font-style: italic;
    overflow: auto;
}

.navbar {
    padding: 0.25em;
    font-weight: bold;
    background-color: #6d8165;
    display: flex;
}

.navbar a,
.navbar a:visited {
    flex-grow: 1;
    display: block;
    padding: 0.5em 1em;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.navbar a:hover {
    background: #f8fae5;
    text-decoration: none;
    color: #515f4b;
}

.navbar a.selected {
    font-weight: bold;
    background: #879e7f;
}

.navbar a.icon {
    font-size: 20px;
    padding: 0.1em 0.5em;
    flex-grow: 0;
}

.multipage-nav ul {
    list-style-type: none;
    padding-left: 20px;
}

.multipage-nav li {
    padding: 10px;
}

.multipage-nav a,
.multipage-nav a:visited {
    color: #515f4b;
    text-decoration: none;
    padding: 10px;
}

.multipage-nav a:hover {
    text-decoration: underline;
}

.multipage-nav a.selected {
    font-weight: bold;
}

#site-footer {
    height: 65px;
    position: absolute;
    width: 100%;
    max-width: 1000px;
    bottom: 0;
    border-top: solid 2px #6d8165;
    background-color: #f8fae5;
}

#site-footer .wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 20px 0;
}

#site-footer a,
#site-footer a:visited,
#site-footer strong {
    text-decoration: none;
    font-weight: bold;
    color: rgb(64, 104, 75);
    margin: 15px auto;
}

#site-footer a:hover {
    color: rgb(50, 50, 50);
    text-decoration: underline;
}

.wrap-main {
    word-wrap: break-word;
    display: flex;
}

.wrap-main aside {
    min-width: 25%;
    background-color: #f8fae5;
    margin-top: 43px;
}

main {
    padding: 20px;
}

div.flash-msg.admin {
    position: fixed;
    top: 40px;
    right: 40px;
    max-width: 50%;
    padding: 20px;
    background-color: rgba(128, 180, 128, 0.8);
    border-radius: 5px;
}

div.flash-msg.admin.error {
    background-color: rgba(244, 145, 145, 0.8);
}


.byline {
    padding: 15px;
    background-color: rgb(251, 251, 249);
    display: flex;
    margin-top: 15px;
}

.byline img {
    width: 80px;
    height: 80px;
}

.byline p {
    padding: 15px 0 0 25px;
}

.byline p span {
    color: purple;
    font-weight: bold;
    font-size: 20px;
}

.page-wrap main {
    padding: 45px;
}

main blockquote {
    font-style: italic;
    margin-bottom: 45px;
}

main img {
    display: block;
}

main p.img-wrap {
    margin: 10px auto;
}

div.flex {
    display: flex;
    margin: 45px 0;
    padding: 10px 20px;
    background-color: #f8fae5;
    border-radius: 3px;
}

.flex .img-wrap img {
    width: 250px;
}

.flex p:not(.img-wrap) {
    margin: 35px 0 0 45px;
}

main.index ul.roads {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-evenly;
}

main.index ul li {
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    color: rgb(0, 78, 0);
    background-color: rgb(246, 246, 246);
}

.roads li div {
    width: 200px;
    height: 150px;
    overflow: hidden;
    border-radius: 3px;
    margin: 10px auto 0;
}

.roads img {
    width: 200px;
    height: 150px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.roads li:hover img {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.index .link {
    text-align: center;
}

.index a,
.index a:visited {
    color: #515f4b;
    text-decoration: none;
}

.index a:hover {
    text-decoration: underline;
}

main.gallery .flex {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main.gallery .item {
    flex: 1 0 21%;
    margin: 15px;
    border-radius: 3px;
    height: 115px;
    overflow: hidden;
}

main.gallery .item img {
    width: 100%;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

main.gallery .item:hover img {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

main.gallery .img-show img {
    width: 100%;
}

main.gallery p {
    text-align: center;
}

main.gallery a,
main.gallery a:visited {
    color: #515f4b;
    text-transform: uppercase;
    text-decoration: none;
}

main.gallery a:hover {
    text-decoration: underline;
}

main.gallery a + a {
    margin-left: 30px;
}

.roads .objects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.roads .obj {
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(242, 242, 242);
    text-align: center;
    margin: 15px 0;
}

.roads .objects .obj a,
.roads .objects .obj a:visited {
    color: #515f4b;
    text-decoration: none;
}

.roads .objects .obj a:hover {
    text-decoration: underline;
}

.roads .obj div {
    border-radius: 3px;
    overflow: hidden;
}

.roasd .obj img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.roads .obj:hover img {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.roads .objects.extended .obj {
    display: flex;
    text-align: left;
}

.roads .objects.extended div.img {
    width: 300px;
    height: 200px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 20px;
}

.roads .objects.extended .obj img {
    width: 300px;
    height: auto;
}

.roads .objects.extended .obj blockquote {
    margin-bottom: unset;
}

.roads .view-opt {
    display: inline-block;
    position: absolute;
    right: 45px;
    padding: 10px 15px;
    background-color: #6d8165;
    border-radius: 3px;
    margin-top: -75px;
    color: #fff;
}

.roads .view-opt:hover {
    background-color: #f8fae5;
    color: #6d8165;
}

.roads .view-opt a,
.roads .view-opt a:visited,
.roads .view-opt a:hover {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.pagination span {
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    text-transform: uppercase;
}

.pagination a,
.pagination a:visited {
    text-decoration: none;
    color: inherit;
}

.pagination a:hover {
    text-decoration: underline;
}

div.flash-msg {
    position: absolute;
    top: 20px;
    right: 260px;
    max-width: 50%;
    padding: 20px;
    background-color: rgba(128, 180, 128, 0.8);
    border-radius: 5px;
    -webkit-animation: fade 15s forwards;
    -moz-animation: fade 115s forwards;
    -o-animation: fade 15s forwards;
    animation: fade 15s forwards;
}

@-webkit-keyframes fade {
    0% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fade {
    0% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes fade {
    0% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade {
    0% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

div.flash-msg.error {
    background-color: rgba(244, 145, 145, 0.8);
}

@media (max-width: 780px) {
    .main-bg {
        background: none;
    }

    .site-header {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-wrap: wrap;
    }

    #site-footer {
        height: 100px;
    }

    .page-wrap {
        padding-bottom: 100px;
    }

    #site-footer .links {
        flex-direction: column;
    }

    #site-footer a {
        margin: 5px auto;
    }

    .moi {
        flex-direction: column;
    }

    .me {
        max-width: 100%;
    }

    .about-stuff ul {
        display: inline-block;
        width: 30%;
        margin-left: 10px;
    }

    .roads-obj .flex,
    .index .flex,
    .multi .flex {
        flex-direction: column;
    }

    .roads .objects.compact .obj {
        max-width: 45%;
    }

    .flex p:not(.img-wrap) {
        margin: 0;
        text-align: center;
    }

    .wrap-main.multi {
        flex-direction: column;
    }

    main.gallery .item {
        flex: 1 0 41%;
        height: 100px;
    }

    #site-footer .wrapper {
        flex-direction: column;
        text-align: center;
    }

    .roads .objects.extended .obj {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
